* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: purple;
    background-color: rgb(0, 0, 0);
    font-family:monospace;
    font-size: 20px;
    padding: 50px;
}

p {
    color: slateblue;
    text-align: center;
}

h1 {
    color: steelblue;
    text-align: center;
}

form {
    margin-left: 25%;
}

.click {
    margin-left: 50%;
    background-color:teal;
}

.dip1 {
    color: white;
    background-color: green;
    text-align: center;
}

.dip2 {
    color: burlywood;
    background-color: red;
    text-align: center;
}

.upd {
    color:black;
    margin-left: 50%;
    background-color: rgb(68, 214, 68);
    width: 20%;
}

#update {
    opacity: 0%;
}

.del {
    background-color: red;
    width: 15%;
}

#delete {
    opacity: 0%;
}

#upddiv {
    opacity: 0%;
}

.find {
    background-color: teal;
}

.find1 {
    background-color: teal;
}

#dbutton {
    background-color: teal;
    margin-left: 50%;
}

#disp {
    text-align: center;
    color:seagreen;
}

section {
    margin: 30px auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(251, 235, 12, 0.3);
}

section button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section button:hover {
    background-color:royalblue;
}

#section--1 {
    background-color:thistle;
}

#section--2 {
    background-color: thistle;
}

#section--3 {
    background-color: thistle;
}

#section--4 {
    background-color: thistle;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%; */
    margin-left: 30%;
}

.logo {
    color: rgb(248, 247, 247);
    font-size: 35px;
    letter-spacing: 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    cursor: pointer;
}

span {
    color:blue;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color:steelblue;
    text-decoration: solid;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: green;
    transition: 0.4s;
}